@charset "UTF-8";
/*=================================
 mixin
=================================*/
$breakpoints:(
    
    sm:  "only screen and (max-width: 767px)",
    md:  "only screen and (min-width: 768px)",
    
);

@mixin media($breakpoint) {
    @media #{map-get($breakpoints,$breakpoint)} {
        @content;
    }
}
/*=================================
 colors
=================================*/
$primary-color: #3EA1D1;
$font-color: #333;
/*=================================
 common
=================================*/
@include media(sm){
    .is-pc{
        display: none;
    }
}

@include media(md){
    .is-sp{
        display: none;
    }
}
body{
    font-size: 16px;
    color: $font-color;
    font-family: "ヒラギノ明朝 ProN",serif;
    line-height: 1.6785;
}
img{
    width: 100%;
}

.inner{
    max-width: 1200px;
    
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    box-sizing: content-box;
    @include media(sm){
        padding: 0 15px;
    }
}
.section{
    margin-top: 160px;
    

    @include media(sm){
        margin-top: 96px;
    }
}
.util-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    @include media(sm){
        font-size: 30px;
    }
    &::after{
        content: '';
        display: block;
        height: 1px;
        width: 60px;
        background: $primary-color;
        margin: 16px auto 0;
    }
}
.util-link{
    font-size: 14px;
    color: $primary-color;
    border: 1px solid $primary-color;
    background: #fff;
    letter-spacing: .1em;
    padding: 10px 54px;
    display: inline-block;
    transition: color .4s, background-color .4s;
    &.-active{
        background: $primary-color;
        color: #fff;
    }

    @include media(md){
        &:not(.-submit){
            &:hover{
                background: $primary-color;
                color: #fff;
               }
        }
        
    }
    
    
}
/*=================================
 header
=================================*/
.header{
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    .drawer-hamburger{
        .drawer--right & {
            right: 3px;
        }
    }
    &-logo{
        width: 120px;
        
    }
    &-inner{
        display: flex;
        align-items: center;
        @include media(sm){
            height: 60px;
        }
    }
    &-nav{
        margin-left: auto;
        @include media(sm){
            padding: 25px 0;
        }
       
        &-list{
            @include media(md){
                display: flex;
            }
            
            
        }
        @include media(sm){
            top : 60px;
            background: $primary-color;
        }
        
    }
}
.header-nav-item{
    & + &{
        @include media(md){
            margin-left: 46px;
            
            
        }
        @include media(sm){
            margin-left: auto;
        }
        
    }
    &-link{
        display: block;
        color: $font-color;
        height: 70px;
        line-height: 70px;
        letter-spacing: 0.1em;
        @include media(sm){
           color: #fff;
           font-size: 18px;
           text-align: right;
           padding: 0 15px;
           height: 60px;
           line-height: 60px;
        }
        @include media(md){
            transition: color .4s;
            &:hover{
                color: $primary-color;
            }
        }
    }
}
.main{
    padding-top: 70px;
    @include media(sm){
        padding-top: 70px;
    }
}
/*=================================
top
=================================*/
.top{
    position: relative;
}
.top-picture{
    @include media(md){
    padding-top: 55%;
    background: url(img/top.png) top right/ 82.5% no-repeat;
    }

    @include media(sm){
        padding-top: 120%;
        background: url(img/top.png) center center / cover;
    }
    
}
.top-message{
    @include media(md){
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    padding: 92px 40px;
    
    }
    &-title{
        font-size: 26px;
        font-weight: bold;
        @include media(sm){
            margin-top: 31px;
        }
    }
    &-text{
        margin-top: 18px;
    }  
}
/*=================================
concept
=================================*/
.concept{
    &-inner{
        margin-top: 64px;
        @include media(md){
            display: flex;
            align-items: center; 
            margin-top: 48px; 
        }
        
    }
    &-picture{
        @include media(md){
            flex: 0 0 50%; 
        }
       
    }
    &-message{
        @include media(md){
            flex: 0 1 50%;
        margin-left: 6.667%;
        }
        
        
        &-title{
            font-size: 20px;
            font-weight: bold;
            @include media(sm){
            margin-top: 34px;
        }
        }
        &-text{
            margin-top: 33px;
            @include media(sm){
                margin-top: 28px;
            }
        }
    }
}
/*=================================
feature
=================================*/
.feature{
    @include media(sm){
        max-width: 340px;
    }
    &-list{
        margin-top: 64px;
        @include media(md){
        display: flex;
        justify-content: space-between;
        
        }
        @include media(sm){
           margin-top: 48px;
        }
        
    }
    &-item{
       @include media(md){
        flex: 0 0 28.333%;
       }
       & + &{
        @include media(sm){
           
        margin-top: 49px;
       }
       }
       
        
    }
}
.feature-item-picture{
    @include media(md){
        flex: 0 0 33.3%;
    }
    
}
.feature-item-list{
    display: block;
    color: $font-color;
    background: #fff;
    box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
    @include media(md){
        &:hover{
            .feature-item-picture>img{
                
                transform: scale(1.05);
            }
            
        }
    }
}
.feature-item-picture {
    overflow: hidden;
    > img{
        
        transition: transform .4s;
        }
}


.feature-item-body{
    
    font-weight: bold;
    text-align: center;
    padding: 23px 12px;
}
/*=================================
about
=================================*/
.about{
    color: #fff;
    position: relative;
    padding: 120px 0;
    @include media(sm){
        padding: 176px 0 52px;
    }

    @include media(md){
       background: url(/img/bg.png) center center/ cover;
        
    }
    @include media(sm){
       background: url(/img/sp/bg@.png) center center / cover;
    }
    
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .12);
    }
    &-inner{
        position: relative;
        
    }
    &-title{
        font-size: 22px;
        font-weight: bold;
        @include media(sm){
            font-size: 20px;
        }
    }
    &-text{
        margin-top: 29px;
        @include media(sm){
            margin-top: 16px;
            font-size: 14px;
            line-height: 1.714;
        }
    }


}
/*=================================
products
================================*/
.products{
    max-width: 940px;
    @include media(sm){
        max-width: 260px;
        padding: 0 58px;
    }
}
.products-list{
    margin-top: 64px;
    display: block;
    background: #fff;
    @include media(md){
        
        display: flex;
        justify-content: space-between; 
    }
    @include media(sm){
        margin-top: 48px;
    }
    
    
}
.products-item{
   @include media(md){
    flex: 0 0 27.6%;
   }
   & + &{
    @include media(sm){
        margin-top: 48px;
    }
    
}
    
    &-list{
        color: $font-color;
        @include media(md){
            &:hover{
                .products-item-picture img{
                    
                    transform: scale(1.05);
                }
                
            }
        }
        .products-item-picture{
            overflow: hidden;
            img{
                transition: transform .4s;
            }
        }
        
    }
    &-body{
        font-size: 14px;
        @include media(sm){
            margin-top: 21px;
        }
    }
    &-cost{
        color: #989898;
        line-height: 1;
        margin-top: 14px;
    }
}
.products-footer{
    text-align: center;
    margin-top: 49px;
}
/*=================================
news
=================================*/
.news{
    max-width: 1040px;
    @include media(sm){
        padding: 0 32px;
    }
}
.news-list{
    @include media(md){
        margin-top: 28px;
    }
    
    background: #fff;
   
}
.news-item{
    &-list{
        @include media(md){
            display: flex;
            align-items: center;
            &:hover{
                .news-item-picture img{
                    
                    transform: translate(-50% ,-50%) scale(1.05);
                }
                
            }
        }
        display: block;
        border-bottom: 1px solid #E0E0E0;
        padding: 22px 0;
        
    }
    .news-item-picture{
       padding-top: 61.5385%;
       overflow: hidden;
       position: relative;
       img{
           position: absolute;
           top: 50%;
           left: 50%;
           width: 100%;
           transform: translate(-50% ,-50%);
           transition: transform .4s;
       }
    }
    &-header{
        @include media(md){
            flex: 0 0 25%;
        }
        
    }
    &-date{
        @include media(sm){
            margin-top: 24px;
        }
    }
    &-body{
        color: $font-color;
        font-size: 14px;
        @include media(md){
            margin-left: 40px;
        }
        

    }
    &-title{
        font-size: 18px;
        font-weight: bold;
        margin-top: 4px;
        @include media(sm){
            margin-top: 8px;
        }
    }
    &-text{
        color: #888888;
        margin-top: 16px;
        line-height: 1.7143;
    }
    
}


.news-footer{
    text-align: center;
    margin-top: 48px;
}
/*=================================
concept2
=================================*/
.concept2{
    &-inner{
        @include media(md){
            display: flex;
            align-items: center;
        }
        margin-top: 64px;
        flex-direction: row-reverse;

    }
    &-picture{
        @include media(md){
            flex: 0 0 50%;
        }
       
    }
    &-message{
        @include media(md){
            flex: 0 1 50%;
        margin-right: 6.6667%;
        }
        @include media(sm){
            margin-top: 34px;
        }
        
        &-title{
            font-size: 28px;
            font-weight: bold;
            @include media(sm){
                font-size: 20px;
            }
        }
        &-text{
            margin-top: 30px;
            @include media(sm){
                font-size: 14px;
                line-height: 1.714;
                margin-top: 23px;
            }
        }
    }
}
/*=================================
contact
=================================*/
.contact{
    background: url(img/contact.png) center center / cover;
    margin-top: 225px;
    padding: 72px 40px 85px;
    @include media(sm){
        margin-top: 92px;
        padding: 56px 22px;
    }
    &-form{
        margin-top: 56px;
        @include media(sm){
            margin-top: 32px;
        }
    }
    &-text{
        text-align: center;
        
        font-size: 14px;
        color: $font-color;
        letter-spacing: .1em;
        span{
            color: #E7728E;
        }
    }
    &-list{
        max-width: 510px;
        margin: 15px auto 0;
        
    }
    &-footer{
        text-align: center;
        margin-top: 20px;
        &-submit{
            margin-top: 46px;
            @include media(sm){
                margin-top: 29px;
            }
        }
    }
    input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    border: 0;
    font-size: 16px;
    box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
    border-radius: 2px;
    padding: .2em .5em;
}

input[type="text"],
input[type="email"]{
    height: 40px;
}
textarea{
    height: 122px;
    resize: vertical;
}
}
.contact-item{
    @include media(md){
        display: flex;
    }
    
    & + &{
        margin-top: 32px;
    }
    &-inline{
        font-size: 12px;
        color: #E7728E;
        vertical-align: super;
        line-height: 1;
        
        @include media(sm){
            font-size: 10px;
        }
    }
    &-title{
        @include media(md){
            flex: 0 1 100%;
        }
        @include media(sm){
            display: inline-block;
            font-size: 14px;
            line-height: 32px;
            height: 32px;
            padding: 0 16px;
        }
        
        background: #3EA1D1B3;
        color: #fff;
        height: 40px;
        line-height: 40px;
        text-align: center;
        position: relative;
        @include media(md){
            &::after{
                content: '';
                display: block;
                position: absolute;
                border-style: solid;
                border-width: 20px 0 20px 8px;
                border-color: transparent transparent transparent #3EA1D1B3;
                top: 0;
                right: -8px;
            }
        }
        
    }
    &-input{
        @include media(md){
        flex: 0 0 320px;
        margin-left: 18px;
        }
        @include media(sm){
            margin-top: 3px;
        }
        
    }
}
.contact-privacy-link{
    color: $primary-color;
    text-decoration: underline;
}
.contact-radio{
    position: relative;
    &-input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked + .contact-radio-part{
            background: $primary-color;
            color: #fff;
            border-radius: 1px;
        }
        &:focus + .contact-radio-part{
            outline: -webkit-focus-ring-color auto 1px;
        }
    }
    &-part{
        display: block;
        background: #fff;
        color: $primary-color;
        height: 38px;
        line-height: 38px;
        width: 80px;
        text-align: center;
        transition: background-color .4s ,color .4s;
       
    }
    &-wrap{
        display: inline-flex;
        border: 1px solid #fff;
        border-radius: 1px;
        box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.16);
    }

}
.contact-privacy{
        position: relative;
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: middle;
    &-part{
        display: inline-block;
        width: 22px;
        height: 22px;
        border: 1px solid $primary-color;
        background: #fff;
        
        position: absolute;
        top: 0;
        left: 0;
        transition: all .2s;
    }
    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        

        &:checked + .contact-privacy-part {
            width: 10px;
            border-top: 0;
            border-left: 0;
            background: transparent;
            transform: rotate(45deg);
            top: -5px;
            left: 0;
        }
        &:focus + .contact-privacy-part{
            outline: -webkit-focus-ring-color auto 1px;
        }
        &:checked:focus + .contact-privacy-part{
            outline: none
        }
    }
}
.drawer-hamburger-icon{
    background: $primary-color;
    &::after{
        background: $primary-color;
    }
    &::before{
        background: $primary-color;
    }
}
.contact-message{
    text-align: center;
    margin-top: 60px;
    display: none;
    &.-error{
        color: red;
    }
}

/*=================================
footer
=================================*/
.footer{
    background-color: #F7F7F7;
    padding: 42px 40px 12px;
    @include media(sm){
        padding: 38px 0 14px;
    }
    &-logo{
        width: 120px;
        margin: 0 auto;
    }
}
.footer-nav{
    &-list{
        @include media(md){
            display: flex;
            justify-content: center;
        }
        margin-top: 8px;
        @include media(sm){
            margin-top: 16px;
        }
    }
   
}
.footer-nav-item{
    & + &{
        @include media(md){
            margin-left: 30px;
        }
       
    }
}
.footer-nav-item-link{
    font-size: 12px;
    color: $font-color;
    display: block;
    padding: 1em 0;
    @include media(sm){
        text-align: center;
        padding: .3em;
    }
    @include media(md){
        transition: opacity .4s;
        &:hover{
            opacity: 0.7;
        }
    }
}
.footer-sns-list{
    display: flex;
    justify-content: center;
    @include media(sm){
        margin-top: 14px;
    }
}
.footer-sns-item{
    &-link{
        color: $primary-color;
        font-size: 24px;
        display: block;
        @include media(md){
            transition: opacity .4s;
            &:hover{
                opacity: 0.7;
            }
        }
    }
    & + &{
        margin-left: 40px;
    }
}
.footer-copyright{
    color: #888888;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    @include media(sm){
        padding-top: 5px;
    }
}
